<div class="container">
  <div class="row">
    <div class="col-10 text-center my-5">
      <h1>投稿一覧</h1>
    </div>

    <% @posts.each do |post| %>
      <div class="col-10 my-3 border">
        <div class="my-1">
          <%= link_to user_path(post.user), class: 'nav-link' do %>
            <%= image_tag post.user.get_profile_image(80, 80), class: "rounded-circle" %>
          <% end %>
          <span class="mx-4"><strong><%= post.user.name %></strong></span>
          <%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </div>
        <span class="lead font-weight-bold"><%= safe_join(post.body.split("\n"), tag(:br)) %></span>

        <%= render 'favorite', post: post %>

        <div class="text-center">
          <% if post.image.present? %>
            <%= image_tag post.image, size: "500x500"%>
          <% else %>
          <% end %>
        </div>

      </div>
    <% end %>

  </div>
</div>