<div class="container">
  <div class="row">
    <div class="col-10 text-center">
      <h1 id="show">投稿詳細</h1>
    </div>

    <div class="col-10 my-3 border p-0">
        <div class="row">
          <%= link_to user_path(@post.user), class: "col-md-7 text-decoration-none" do %>
            <%= image_tag @post.user.get_profile_image(80, 80), class: "rounded-circle" %>
            <span class="mx-5"><strong><%= @post.user.name %></strong></span>
          <% end %>
            <div class="col-md-2 d-flex align-items-center" id="favorite_<%= @post.id %>">
              <%= render 'public/favorites/favorite', post: @post %>
            </div>
            <div class="col-md-3 d-flex align-items-center">
              <%= link_to "#{@post.post_comments.count} コメント", post_path(@post) %>
            </div>
        </div>

        <div class="DivLink" data-post-id="<%= @post.id %>">
          <div class="m-3">
            <span class="lead font-weight-bold"><%= safe_join(@post.body.split("\n"), tag(:br)) %></span>
          </div>

          <div class="text-center mt-5">
            <% if @post.image.present? %>
              <%= image_tag @post.image, size: "500x500"%>
            <% else %>
            <% end %>
          </div>
          <div class="m-3 text-right">
            <%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </div>

          <% if @post.user == current_user %>
            <div class="col-12 text-right mt-3 mb-1">
              <%= link_to "削除", post_path(@post.id), method: :delete, class: 'col-2 btn btn-danger text-white', "data-confirm" => "本当に削除しますか？" %>
            </div>
          <% end %>
        </div>
      </div>

      </div>

      <div>
        <p>コメント件数：<%= @post.post_comments.count %></p>
          <% @post.post_comments.each do |post_comment| %>
            <div class="col-12">
              <div class="row mt-4">
                <div class="col-lg-1">
                  <%= image_tag post_comment.user.get_profile_image(80,80), class: "rounded-circle" %>
                </div>
                <div class="col-lg-2 ml-5">
                  <%= post_comment.user.name %>
                </div>
                <div class="col-lg-2 mx-4">
                  <%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
                </div>
                <div class="col-4 mx-4 text-break">
                  <%= post_comment.comment %>
                </div>
                  <% if post_comment.user == current_user %>
                <div class="mr-auto">
                  <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger text-light" %>
                </div>
                  <% end %>
              </div>
            </div>
        <% end %>
      </div>

      <div class="col-4 mt-5">
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>

  </div>
</div>