<div class="container text-center">
  <h1 class="py-5">プロフィール編集</h1>
    <div class="row justify-content-center">

    <%= form_with model: @user do |user| %>
      <div class="col-12 text-center my-3">
        <h4>画像</h4>
        <div class='image justify-content-center'>
          <%= user.file_field :profile_image, accept: "image/*", class: 'imageInput' %>
        </div>
      </div>

        <div class="col-12 my-3">
          <h4>名前</h4>
          <%= user.text_field :name %>
        </div>

        <div class="col-12 my-3">
          <h4>自己紹介</h4>
          <%= user.text_area :introduction %>
        </div>

        <div class="col-12 my-3">
          <h4>メールアドレス</h4>
          <%= user.text_field :email %>
        </div>

      <div class="row mt-5">
        <div class="col-12">
          <%= user.submit '変更を保存', class:"btn btn-success" %>
          <%= link_to "退会する", users_check_users_path,class:"btn btn-danger text-light ml-5" %>
        </div>
      </div>
    <% end %>

  </div>
</div>