<!DOCTYPE html>
<html>
  <head>
    <title>PublicSquare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e30cc8c7c.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="navbar-brand"><h3><%= link_to 'PublicSquare', root_path, class: 'text-dark' %></h3></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto align-items-center">
              <!-- 管理者がログインしている場合-->
              <% if admin_signed_in? %>
                <li class="nav-item mx-3">
                  <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-users">会員一覧</i>
                  <% end %>
                </li>

                <li class="nav-item mx-3">
                  <%= link_to admin_posts_path, class: 'nav-link text-dark' do %>
                    <i class="fa-sharp fa-solid fa-comments">投稿一覧</i>
                  <% end %>
                </li>

                <li class="nav-item mx-3">
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket">ログアウト</i>
                  <% end %>
                </li>

              <!--ログインしているとき-->
              <% elsif user_signed_in? %>
                <li class="nav-item ">
                  <%= link_to user_path(current_user), class: 'nav-link' do %>
                  <%= image_tag current_user.get_profile_image(50, 50), class: "rounded-circle" %>
                  <% end %>
                </li>

                <li class="nav-item mx-3">
                  <%= link_to new_post_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-plus">新規投稿</i>
                  <% end %>
                </li>

                <li class="nav-item mx-3">
                  <%= link_to posts_path, class: 'nav-link text-dark' do %>
                    <i class="fa-sharp fa-solid fa-comments">投稿一覧</i>
                  <% end %>
                </li>

                <li class="nav-item mx-3">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket">ログアウト</i>
                  <% end %>
                </li>


                <!--未ログイン時-->
                <% else %>

                <li class="nav-item mx-3">
                  <%= link_to posts_path, class: 'nav-link text-dark' do %>
                    <i class="fa-sharp fa-solid fa-comments">投稿一覧</i>
                  <% end %>
                </li>

                <li class="nav-item mx-3">
                  <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-user-plus">新規登録</i>
                  <% end %>
                </li>

                <li class="nav-item mx-3">
                  <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-to-bracket">ログイン</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="text-center">
          <h3 class="pt-5">PublicSquare</h3>
          <div class="mt-4">
            <%= link_to "管理者はこちら", new_admin_session_path,class: "text-dark", style: "text-decoration: none;" %>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
