<!DOCTYPE html>
<html>
  <head>
    <title>PublicSquare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e30cc8c7c.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="navbar-brand"><h3><%= link_to 'PublicSquare', root_path, class: 'text-dark' %></h3></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <!--ログインしているとき-->
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to '投稿一覧', posts_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to '新規投稿', new_post_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'マイページ', user_path(current_user), class: 'nav-link text-dark' %>
                </li>

                <!--未ログイン時-->
                <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="text-center">
          <h3 class="pt-5">PublicSquare</h3>
        </div>
      </div>
    </footer>

  </body>
</html>
